/* .tableList {
  position: relative;
} */

.tableList .listContainer {
  overflow: auto;
  position: absolute;
  left: 0;
  z-index: 400;
}

.tableList .chip {
  padding: 5px;
  border-radius: 10px;
  color: #6b7280;
  background: #f9fafb;
}

.tableList .more {
  cursor: pointer;
}
